.container {
  display: flex;
  flex-direction: column;
  align-items: center;
}


#player1, #player2 {
  margin-bottom: 10px;
}

.player-input {
  margin-bottom: 10px;
}

.player-input label {
  display: inline-block;https://www.svgrepo.com/show/345221/three-dots.svg
  width: 80px;
}

.player-input input {
  width: 200px;
}

#submit {
  display: block;
  margin: 10px auto;
}


.board {
  display: none;
  grid-template-columns: repeat(3, 100px);
  grid-gap: 3px;
  margin: 10px;
	background-color: black;
	border: 3px solid black;
}


.cell {
  width: 100px;
  height: 100px;
  background-color: pink;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 2em;
  cursor: pointer;
}

.cell:hover {
  background-color: darkgray;
}

.message {
  font-size: 1.2em;
  margin-bottom: 20px;
}


.winning-cell {
  background-color: purple !important;
}

